@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --width: 88.5px;
  --l-cols-count: 14;
  --l-rows-count: 7;
  --sm-w-cols: 8;
  --grid-border: 1px solid var(--border2);

  --darkWhite: #f9f9f9;
  --border: #dedede;
  --border2: #e0e0e0;
  --text: #151515;
  --white: #fafafa;
}

.border {
  border: 1px solid var(--border);
}

body {
  text-align: center;
  min-height: 100vh;

  width: 100vw;
  color: var(--text);
  background-color: var(--white);
  opacity: 0.9;
  background: linear-gradient(
    109deg,
    rgba(236, 239, 96, 0.3) -1.78%,
    rgba(188, 84, 204, 0.3) 53.03%,
    rgba(55, 218, 241, 0.3) 105.6%
  );
  backdrop-filter: blur(6px);
  background-size: 200% 200%;
  animation: gradient 8s linear infinite;
}
@keyframes gradient {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

section {
  padding-inline: 30px;
}

button {
  background: "none";
  font-weight: 800;
}

.hover {
  transition: transform 0.2s ease-in-out;
}
.hover1:hover {
  transition: transform 0.5s ease-in-out;
  background-color: var(--darkWhite);
  border: 1px solid var(--border);
}

.hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}

a {
  @apply hover1;
}
#logo:hover {
  background: none !important;
  border: none !important;
}
.hover:active {
  transform: scale(0.95);
  cursor: grabbing;
}

.fcc {
  @apply flex flex-col items-center;
}
.fccc {
  @apply fcc justify-center;
}

.gcc {
  @apply grid items-center justify-center;
}

input::placeholder {
  color: var(--text);
  opacity: 0.7;
  font-weight: 500;
}

@keyframes fade {
  0% {
    opacity: 0;
    /* display: block; */
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes zoomCenter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
    translate: (-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1000;
  }
}

/* GRID START */
.gridTest {
  display: grid;
  grid-template-columns: repeat(var(--l-cols-count), var(--width));
  gap: 0;
}

@media (max-width: 768px) {
  .gridTest {
    grid-template-columns: repeat(var(--sm-w-cols), var(--width));
  }
}

.gridTest > div {
  width: var(--width);
  height: var(--width);
  border: var(--grid-border);
  border-right: none;
}

.gridTest > div:nth-child(14n + 16),
.gridTest > div:nth-child(14) {
  border-right: var(--grid-border);
}

.gridTest > h1,
.gridTest > h3 {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
}
/* .gridTest > h3 {
  grid-row: 2 / 4;
} */

.gridTest > div:nth-child(n + 31) {
  border-top: none;
}

/* GRID END */
/* .gridTest >  */

#logo {
  color: #151515;
  font-family: Bebas Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.6%; /* 32.544px */
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

input {
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #fff;
  height: 50px;
  padding-inline: 10px;
}

.btnPrimary {
  border-radius: 7px;
  background: #151515;
  height: 50px;
  width: 100%;
  color: var(--white);
}

button:hover {
  opacity: 0.9;
  border-radius: 2;
  transition: border-radius 0.4s ease-in-out;
}

button:disabled {
  background-color: var(--border);
  color: #15151560;
  border: 1px solid #15151520;
  cursor: not-allowed;
}

button {
  color: var(--text);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.container {
  max-width: 1200px;
  @apply w-full;
}

.smlBtn {
  display: flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
}

.whiteBtnSml {
  @apply smlBtn;
  border: 1px solid #dedede;
  background: #f9f9f9;
}

.blackBtnSml {
  @apply smlBtn;
  background: #151515;
  color: var(--white);
}

h1 {
  color: #151515;
  text-align: center;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.203%; /* 63.49px */
  letter-spacing: -2.56px;
  text-transform: capitalize;
}

h3 {
  color: #151515;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.203%; /* 15.872px */
  letter-spacing: -0.64px;
  text-transform: capitalize;
}

.full {
  @apply h-full w-full;
}

.gradBg {
}

.homeWhiteBg {
  border-radius: 0px 0px 30px 30px;
  border: 1px solid rgba(250, 250, 250, 0.7);
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(12.25px);
}

.headerWhiteBg {
  border: 1px solid rgba(250, 250, 250, 0.7);
  background: linear-gradient(
    168deg,
    rgba(255, 255, 255, 0.89) 0%,
    rgba(255, 255, 255, 0.49) 96.01%
  );
  box-shadow: 5px 5px 20px 0px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12.25px);
}

.leftMenuBg {
  border-right: 1px solid rgba(250, 250, 250, 0.7);
  background: linear-gradient(
    167deg,
    rgba(255, 255, 255, 0.51) -9.76%,
    rgba(255, 255, 255, 0.35) 100.48%
  );
  box-shadow: 5px 5px 20px 0px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12.25px);
}

h2 {
  color: #151515;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.203%; /* 35.713px */
  letter-spacing: -1.44px;
  text-transform: capitalize;
}

#searchBar {
  display: flex;
  @apply w-full;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  border: 1px solid #dedede;
  background: #f9f9f9;
}

/* CARD */
.outerCard {
  border-radius: 7px;
  border: 1px solid rgba(213, 39, 54, 0);
  background: linear-gradient(
    175deg,
    rgba(213, 39, 54, 0.15) -22.84%,
    rgba(213, 39, 54, 0.15) -22.83%,
    rgba(255, 255, 255, 0.5) 71.88%
  );

  display: flex;
  width: 320px;
  height: 164px;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.innerCard {
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 10px;
  border: 1px solid #ededed;
  background: linear-gradient(
    102deg,
    rgba(213, 39, 54, 0.15) -2.01%,
    rgba(213, 39, 54, 0.15) -2%,
    rgba(255, 255, 255, 0.5) 100.79%
  );
  backdrop-filter: blur(6px);
}
